@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Learning Material Management</title>
	<meta charset="UTF-8">
	<meta name="description" content="Learning Material Management">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/css/style.css" />

	<style>
		body {
			background: url('@Url.Content("~/img/bg.jpg")') no-repeat center center fixed;
			background-size: cover;
			/* other CSS properties */
		}
	 </style>
</head>
<body>

	<!-- Header section end -->
	<!-- Hero section -->
	<section class="hero-section set-bg">
		<div class="container">
			<div class="hero-text text-white">
				<h2>Learning Material Management</h2>
				<p>Manage materials with your class.</p>
			</div>
			<div class="row">
				<div style="text-align: center;">
					@if (HttpContextAccessor.HttpContext.Session.GetString("isLoggedIn") == null)
					{
						<a asp-area="" asp-controller="Auth" asp-action="Register" class="site-btn">Register</a>
					}
					else
					{
						<a asp-area="" asp-controller="Class" asp-action="Index" class="site-btn">My Class</a>
					}
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->
	</body>
</html>