@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LMM_WebClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LMM_WebClient.styles.css" asp-append-version="true" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
                    <div class="site-logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/img/logo.png" alt="">
                        </a>
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					@if (HttpContextAccessor.HttpContext.Session.GetString("isLoggedIn") == null)
					{
						<a asp-area="" asp-controller="Auth" asp-action="Login" class="site-btn header-btn">Login</a>
					}
					else
					{
						<a asp-area="" asp-controller="Auth" asp-action="Logout" class="site-btn header-btn">Logout</a>
					}
				</div>
			</div>
		</div>
	</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>